@using System.IO
@using System.Threading.Tasks
@using Blacktau.OpenAuth.AspNet.Authorization.Interfaces
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    Layout = null;
}

@inject IOpenAuthorizationResourceProviderRegistery ResourceProviderRegistery
<!DOCTYPE html>

<html>
<head>
    <title>Blacktau.OpenAuth WebTest</title>
</head>
<body>
<div>
    Hello World Sean
</div>
<div class="col-md-4">
    <section>
        <h4>Use another service to log in.</h4>
        <hr/>
        @{
            var authorizationSchemes = ResourceProviderRegistery.GetConfiguredResourceProviders().ToList();
            if (authorizationSchemes.Count == 0)
            {
                <div>
                    <p>
                        There are no
                    </p>
                </div>
            }
            else
            {
                <ul>
                    @foreach (var scheme in authorizationSchemes)
                    {
                        <li><a href="@scheme.ActivationPath" title="Log in using your @scheme.DisplayName account">@scheme.DisplayName</a></li>
                    }
                </ul>
            }
        }
    </section>
</div>

</body>
</html>